div.li, .players {
  height: 2.5rem;
}
hr {
  margin-top: .25rem;
  margin-bottom: 1rem;
}
#filter {
  background-color: #DDD;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: 1px solid #CCC;
}
#ng-view {
  padding: .2rem;
  margin-top: .5rem;
  /*height: 60rem;*/
  border-radius: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #EEE;
}
#ng-view hr {
  border-color: #BBB;
}
.scroll-y {
  overflow-y: scroll;
  overflow-x: hidden;
}
.capitalize {
  text-transform: capitalize;
}
.form-group {
  vertical-align: bottom;
}
.btn-container{
  padding-top: .75rem;
}
#fifty-fifty{
  /*height: 24rem;*/
}
#roster{
  height: 23rem;
}
#players {
  height: 31rem;
}
#list {
  height: 25rem;
  margin: 1rem;
}
