<div>
  <div class='row'>
    <h4 class="col-md-offset-1">Add Player</h4>
    <hr />
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <form ng-submit="add()">
        <div class='form-group'>
          <div class='row'>
            <label class='col-md-offset-1 col-md-2'>Last Name:</label>
            <input class="col-md-6" type='text' ng-model="newPlayer.lastName"/>
          </div>
        </div>
        <div class='form-group'>
          <div class='row'>
            <label class='col-md-offset-1 col-md-2'>First Name:</label>
            <input class="col-md-4" type='text' ng-model="newPlayer.firstName"/>
          </div>
        </div>
        <div class='form-group'>
          <div class='row'>
            <label class='col-md-offset-1 col-md-2'>Birthdate:</label>
            <input class="col-md-4" type='date' ng-model="newPlayer.birthDate"/>
            <label class='col-md-offset-1 col-md-2'>Gender:</label>
            <select class='col-md-2' ng-model="newPlayer.gender">
              <option class='capitalize' value="mens">mens</option>
              <option class='capitalize' value="womens">womens</option>
              <option class='capitalize' value="both">both</option>
            </select>
          </div>
        </div>
        <div class='form-group'>
          <div class='row'>
            <label class='col-md-offset-1 col-md-2'>Sports:</label>
            <select multiple class='col-md-2' ng-model="newPlayer.sports" ng-options="sport.sport for sport in sports">
            </select>
          </div>
        </div>
        <a class="col-md-offset-10 btn btn-success col-md-2" ng-click="add()">Add Player</a>
      </form>
    </div>
    <div class='col-md-6'>
      <label class='text-center'>Player History</label>
    </div>
  </div>
</div>
