<div>
  <div class='row'>
    <h4 class='col-md-4'>Edit or Delete:<span class='capitalize' > {{team.location}} {{team.teamName}}</span></h4>
    <p class='col-md-6'>X</p>
  </div>
  <hr />
  <div class='row' id="fifty-fifty">
    <div class='col-md-6'>
      <form>
        <div class='form-group'>
          <div class='row'>
            <label class="col-md-2 text-right">Name:</label>
            <input class='col-md-6' type='text' ng-model="editTeam.teamName" value="{{ editTeam.teamName }}"/>
            <label class='text-right col-md-2'>League:</label>
            <select class='col-md-2' ng-model="editTeam.league">
              <option ng-repeat="league in leagues" class='capitalize' value="{{ league }}">{{ league.abbr }}, {{ league.name }}</option>
            </select>
          </div>
        </div>
        <div class='form-group'>
          <div class='row'>
            <label class="col-md-2 text-right">Location:</label>
            <input class='col-md-6' type='text' ng-model="editTeam.location" value="{{ editTeam.location }}"/>
          </div>
        </div>
        <div class='row'>
          <a class="col-md-offset-4 btn btn-primary col-md-2" href="#!/teams">Cancel</a>
          <a class="btn btn-success col-md-offset-1 col-md-2" href="#!/teams" type='button' ng-click="update()">Update</a>
          <a class="btn btn-danger col-md-offset-1 col-md-2" href="#!/teams" ng-click="delete()">Delete</a>
        </div>
      </form>
    </div>
    <div class='col-md-6 scroll-y' id="roster">
      <table class='table table-striped'>
        <tr class='row'><th class='col-md-8'>Player</th><th class='col-md-4'>Actions</th></tr>
        <tr ng-repeat="player in roster" class='row'><td class='col-md-8'>{{ player.lastName}}, {{player.firstName}}</td><td class='col-md-2'><button ng-click="dropPlayer(player._id)"class='btn btn-xs btn-danger'>Remove</button></td></tr>
      </table>
    </div>
  </div>
  <div id='players'>
    <div id='filter' class='row'>
      <div class='form-group'>
        <span><label class='col-md-1 text-right'>Filters:</label><label class='col-md-1 text-right'>Sport:</label>
          <select class='col-md-1' ng-model="filter.sport">
            <option value="">No Filter</option>
            <option ng-repeat="sport in sports" class='capitalize' value="{{ sport.sport }}">{{ sport.sport }}</option>
          </select>
          <label class='col-md-2 text-right'>Last Name:</label>
          <input class='col-md-2' type="text" ng-model="filter.lastName"/>
        </span>
      </div>
    </div>
    <!---->
    <div id='list' class='scroll-y'>
      <div ng-repeat="player in available | orderBy: 'lastName' | filter: { sportsList : filter.sport } | filter: { lastName : filter.lastName } track by player._id" class='row players'>
        <span class='col-md-3'>{{ player.lastName }}, {{ player.firstName }}</span><span class='col-md-1'>{{player.gender}}</span><span class='col-md-3'>{{player.sportsList}}</span><button ng-click="addStint(player._id)" class='btn btn-xs btn-primary col-md-1'>Add</button>
      </div>
    </div>
  </div>
</div>
