<div>
  <div class='row'>
    <h4 class="col-md-offset-1 col-md-2">Players</h4>
    <div class="btn-container">
      <a href="#!/addPlayer" class="btn btn-xs col-md-1 btn-success">Add Player</a>
    </div>
  </div>
  <div id='add'>
    <!-- <form action='/teams' method='post'>
      <div class='row'>
        <div class='form-group'>
          <label class='text-right col-md-1'>Add:</label>
          <input class='col-md-3' type='text' ng-model="newTeam.teamName"/>
          <label class='text-right col-md-1'>Sport:</label>
          <select class='col-md-1' ng-model="newTeam.sport">
            <option ng-repeat="sport in sports" class='capitalize' value="{{ sport._id }}">{{ sport.sport }}</option>
          </select>
          <label class='text-right col-md-1'>Gender:</label>
          <select class='col-md-1' ng-model="newTeam.gender">
            <option class='capitalize' value="mens">mens</option>
            <option class='capitalize' value="womens">womens</option>
            <option class='capitalize' value="both">both</option>
          </select>
          <button class='btn btn btn-success col-md-offset-1 col-md-1' ng-click="add()" type="button">Add</button>
        </div>
      </div>
    </form> -->
  </div>
  <hr />
  <div class='row'>
    <span class='col-md-2 text-center'><b>Player Last Name</b></span>
    <span class='col-md-2 text-center'><b>First Name</b></span>
    <span class='col-md-2 text-center'><b>Sports</b></span>
  </div>
  <div class='scroll-y'>
    <ul>
      <div class="row li" ng-repeat="person in players">
        <li class='col-md-2 capitalize'>{{ person.lastName }}</li>
        <span class='col-md-2 capitalize'>{{person.firstName}}</span>
        <!-- <span class='col-md-2 capitalize'>{{person.sports[0].sport}}, {{person.sports[1].sport}},</span> -->
        <span class='col-md-2 capitalize'>{{person.sportsList}}</span>
        <a class='col-md-1 btn btn-xs btn-primary' href="#!/players/{{ person._id }}/edit">Edit</a>
      </div>
    </ul>
  </div>
</div>
