<div>
  <div class='row'>
    <h4 class="col-md-offset-1">Teams</h4>    
  </div>
  <div id='add'>
    <form action='/teams' method='post' ng-submit="add()">
      <div class='row'>
        <div class='form-group'>
          <label class='text-right col-md-1'>Add:</label>
          <input class='col-md-2' type='text' ng-model="newTeam.teamName"/>
          <label class='text-right col-md-1'>League:</label>
          <select class='col-md-1' ng-model="newTeam.league">
            <option ng-repeat="league in leagues" class='capitalize' value="{{ league._id }}">{{ league.name }}</option>
          </select>
          <!-- <label class='text-right col-md-1'>Sport:</label>
          <select class='col-md-1' ng-model="newTeam.sport">
            <option ng-repeat="sport in sports" class='capitalize' value="{{ sport._id }}">{{ sport.sport }}</option>
          </select> -->
          <!-- <label class='text-right col-md-1'>Gender:</label>
          <select class='col-md-1' ng-model="newTeam.gender">
            <option class='capitalize' value="mens">mens</option>
            <option class='capitalize' value="womens">womens</option>
            <option class='capitalize' value="both">both</option>
          </select> -->
          <button class='btn btn btn-success col-md-offset-1 col-md-1' ng-click="add()" type="button">Add</button>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div class='row'>
    <span class='col-md-3 text-center'><b>Team Name</b></span>
    <span class='col-md-2 text-left'><b>League</b></span>
  </div>
  <div class=''>

  </div>
  <div class='scroll-y'>
    <ul>
      <div class="row li" ng-repeat="element in teams">
        <li class='col-md-3 capitalize'>{{ element.teamName }}</li><span class='col-md-2 text-left'>{{element.league.abbr}}</span><a class='col-md-1 btn btn-xs btn-primary' href="#!/teams/{{ element._id }}/edit">Edit</a>
      </div>
    </ul>
  </div>
</div>
